@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-50;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.button {
    @apply font-semibold py-1 px-4 rounded text-sm;
}
.button-outline {
    @apply font-semibold py-1 px-4 rounded text-sm bg-transparent hover:bg-primary hover:bg-opacity-10 border border-primary text-primary;
}

.button-primary {
    @apply bg-primary hover:bg-primary hover:bg-opacity-90 text-white;
}

.button-red {
    @apply bg-red-600 hover:bg-red-600 hover:bg-opacity-90 text-white;
}

.button-disabled {
    @apply opacity-50 cursor-not-allowed;
}

.label {
    @apply text-gray-800 text-xs font-bold;
}

.input {
    @apply border rounded p-2 text-gray-800 w-full hover:border-gray-500;
}
